.team {
    background-color: $color-dark;
    padding: 180px 0;

    .team-header {
        margin-bottom: 130px;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .team-filter {
        list-style: none;
        padding: 0;
        display: flex;
        text-transform: uppercase;

        &__item {
            padding: 10px;
            color: $color-light;
            margin-right: 16px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 1.28px;
            transition: $base_link_transition;

            &.active {
                color: $color-primary;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: 20%;
            position: relative;
            cursor: pointer;
            z-index: 0;
            transition: z-index 0s 200ms;

            &__img {
                position: relative;
                z-index: 3;

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                }
            }

            &__info {
                opacity: 0;
                position: absolute;
                background: #fff;
                top: 0;
                left: 0%;
                width: 100%;
                height: 100%;
                padding: 24px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                z-index: 2;
                transition: transform 200ms $ease-in, opacity 200ms $ease-in;

                .text {
                    line-height: 1.8em;
                }
            }

            &:hover {
                z-index: 5;
                transition: z-index 0s 0ms;
                
                .team-list__item__info {
                    transition-duration: 400ms;
                    transform: translateX(100%);
                    opacity: 1;
                }
            }

            &.last:hover {
                .team-list__item__info {
                    transform: translateX(-100%);
                }
            }
        }
    }

    .team-pagination {
        display: flex;
        justify-content: flex-end;
        margin: 14px;

        &__item {
            color: $color-light;
            padding: 10px;
            margin-left: 16px;
            transition: $base_link_transition;

            &.active {
                border-bottom: 1px solid red;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .load-more {
        margin: auto;
        margin-top: 28px;
        display: block;
        background-color: $color-light;
        color: $color-dark;
        padding: 24px 64px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        position: relative;

        span {
            position: relative;
            transition: color 0.3s $ease;
        }
        
        &:before {
            content: "";
            left: 0;
            top: 0;
            position: absolute;
            width: 0;
            height: 100%;
            background-color: $color-primary;
            transition: width 0.3s $ease;
        }

        &:hover{
            &:before {
                width: 100%;
            }

            span {
                color: $color-light
            }
        }

        &.disabled {
            opacity: 0.5;
        }
    }
}